#overtime {
  max-width: 1000px;
  color: #333333;
}

div.rc-time-picker-panel-select {
  overflow-x: hidden;
}

/** Menu area **/
.topMenuWraper {
    width: 100%;
    background: #DDDDDD;
    background: -webkit-linear-gradient(#dddddd, #aaaaaa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #aaaaaa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #aaaaaa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #aaaaaa); /* Standard syntax */
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    margin-bottom: 5px;
}

.topMenu {
  display: table;
  border-spacing: 5px;
  color: #333333;
}

.topMenu  > span {
  display: table-cell;
  vertical-align: middle;
}

.topMenu .clickable {
  cursor: pointer;
}

.topMenu .clickable:hover {
  background-color: #dddddd;
}

.addOvertime {
  background-repeat: no-repeat;
  background-image: url('/images/add.png');
  background-position: left;
  padding-left: 32px;
  padding-right: 5px;
}

.userSettings {
  background-repeat: no-repeat;
  background-image: url('/images/settings.png');
  background-position: left;
  padding-left: 35px;
  padding-right: 5px;
}

.users {
  background-repeat: no-repeat;
  background-image: url('/images/users.png');
  background-position: left;
  padding-left: 35px;
  padding-right: 5px;
}

.topMenu .separator {
  width: 1px;
  background: -webkit-linear-gradient(#bbbbbb, #888888); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#bbbbbb, #888888); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#bbbbbb, #888888); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#bbbbbb, #888888); /* Standard syntax */
}

.excelExport {
  background-repeat: no-repeat;
  background-image: url('/images/excel_export.png');
  background-position: left;
  padding-left: 35px;
  padding-right: 5px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
}

.simpleLink, .simpleLink:hover {
  text-decoration: none;
  color: #515151;
}

/** Overtime table **/
.overtimeEdit, .overtimeDelete {
  width: 32px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  color: #337ab7;
}

.overtimeEdit {
  background-image: url('/images/edit16.png');
  background-repeat: no-repeat;
  background-position: center;
}

.overtimeDelete {
  background-image: url('/images/delete16.png');
  background-repeat: no-repeat;
  background-position: center;
}

/** Overtime edit form **/
.editFormWrapper {
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;
  border-style: dotted;
}

.row100 {
  width: 100%;
  padding-top: 10px;
  clear: both;
}

.row50l {
  width: 45%;
  float: left;
  padding-top: 10px;
}

.row50r {
  width: 45%;
  float: right;
  padding-top: 10px;
}

.editFormWrapper label {
  display: block;
  color: #5e5e5e;
}

.editFormWrapper input {
  line-height: 26px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0px 5px;
  width: 100%;
  color: #333333;
}

.editFormWrapper select {
  line-height: 26px;
  height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0px 5px;
  width: 100%;
  color: #333333;
}

.editFormWrapper textarea {
  width: 100%;
  padding: 5px;
  resize: none;
  color: #333333;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.error, .error>input {
  border-color: red !important;
}

.footer {
  text-align: center;
  margin-top: 5px;
}

.footer>div {
  float: left;
  width: 50%;
  float: right;
  text-align: right;
}

.footer>div:first-child {
  float: left;
  text-align: left;
}

.footer button {
  padding: 3px 5px;
  border: none;
  font-size: 14px;
  color: #333333;
  width: 98%;
  padding: 10px;
}

.editFormWrapper .validation {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-family: monospace;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* override style from the date picker component */
.editFormWrapper .rc-time-picker {
  width: 100%;
}

.editFormWrapper .react-datepicker-wrapper, .editFormWrapper .react-datepicker-wrapper > div  {
  width: 100%;
}

.editForm .react-datepicker__close-icon {
  display: inline;
}

.react-datepicker__current-month {
  font-size: 1.2rem;
}

.react-datepicker__day-names {
  font-size: 1rem;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 2rem;
  line-height: 2rem;
  margin: 0.2rem;
}

.react-datepicker__week {
  font-size: 1rem;
}
